input[type=text]{
    background-color:black;
    color: white;
}
body{
    background-image: url(https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=2000);   
}
img{
    width: 100%;
}
textarea {
    width:250;
    height:100;
}
.warna {
    background-color: rgb(0, 81, 255);
}
.warna2 {
    background-color:violet;
}
.pertama{
    background-color: rgb(0, 255, 234);
    width:60%;
    height:auto;
    align-items:center;
    text-align:left;
    margin:auto;
    margin-top:5px;
    padding-bottom:5px;
}
nav ul{
    padding:1px;
    margin: 2px;
    overflow:hidden;
    background-color:rgb(28, 16, 196);
    border:1px solid rgb(0, 238, 255);
}
nav li{
    display:inline-block;
    color:whitesmoke;
    text-align:center;
    padding:10px 15px;
}
.kembali{
    text-decoration:none;
}
footer {
    clear:both;
    width:98.8%;
    height:auto;
    text-align:center;
    margin:5px 5px 5px 5px;
    border-radius:3px;
    border-bottom:2px solid gainsboro;
    padding-top:15px;
    padding-bottom:15px;   
}